// # VARIABLES
@use "./partials/variables" as *;

// # MIXINS
@use "./partials/mixins.scss" as *;

// # RULES

body {
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("/bg-yugioh.jpg");
}
